<?xml version="1.0"?>
<model>
  <name>Sawyer Platform</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Homagni Saha</name>
   <email>hsaha@iastate.edu</email>
  </author>

  <description>
    A distortion camera attached to double pendulum.
  </description>
</model>